@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;800&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}

.btn-primary {
    background: #FF5400;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 8px;
}

.btn-primary:hover {
    color: #000000;
    background: rgb(255, 227, 237);
}

/* nav style */

nav {
    display: flex;
    margin: 30px;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 90px;
}

.logo p {
    font-size: 2.3rem;
}

.Venture {
    color: red;
}

.navbar>ul {
    display: flex;
    margin-left: 450px;
    margin-top: 50px;
}

.navbar li {
    color: #424247;
    list-style: none;
    margin-right: 20px;
    font-weight: 400;
    font-size: 1.2rem;
}

.navbar li a {
    text-decoration: none;
    color: black;
}

.navbar ul .home {
    color: #FF5400;
}

/* banner style */

.banner {
    background-image: linear-gradient(rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0) 100%), url('../images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    padding: 150px;
    margin-left: 180px;
    width: 820px;
    height: 210px;
    border-radius: 20px;
}

.banner h1 {
    color: #fff;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    margin-top: -40px;
}

.banner p {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.form-part {
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    gap: 30px;
    padding: 18px;
    margin-left: 40px;
    margin-top: 70px;
    border-radius: 8px;
}

.form-part input,
select {
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    width: 170px;
    height: 50px;
    border-radius: 8px;
    border: none;
    text-align: center;
}

/* main style */

main {
    width: 78%;
    margin: 100px auto;
}

/* popular tour */

.popular-tour {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tour-content {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    width: 40%;
}

.tour-content h1 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
