@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;800&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}

.btn-primary {
    background: #FF5400;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 8px;
}

.btn-primary:hover {
    color: #000000;
    background: rgb(255, 227, 237);
}

/* nav style */

nav {
    display: flex;
    margin: 30px;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 90px;
}

.logo p {
    font-size: 2.3rem;
}

.Venture {
    color: red;
}

.navbar>ul {
    display: flex;
    margin-left: 450px;
    margin-top: 50px;
}

.navbar li {
    color: #424247;
    list-style: none;
    margin-right: 20px;
    font-weight: 400;
    font-size: 1.2rem;
}

.navbar li a {
    text-decoration: none;
    color: black;
}

.navbar ul .home {
    color: #FF5400;
}

/* banner style */

.banner {
    background-image: linear-gradient(rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0) 100%), url('../images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    padding: 150px;
    margin-left: 180px;
    width: 820px;
    height: 210px;
    border-radius: 20px;
}

.banner h1 {
    color: #fff;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    margin-top: -40px;
}

.banner p {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.form-part {
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    gap: 30px;
    padding: 18px;
    margin-left: 40px;
    margin-top: 70px;
    border-radius: 8px;
}

.form-part input,
select {
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    width: 170px;
    height: 50px;
    border-radius: 8px;
    border: none;
    text-align: center;
}

/* main style */

main {
    width: 78%;
    margin: 100px auto;
}

/* popular tour */

.popular-tour {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tour-content {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    width: 40%;
}

.tour-content h1 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

/* destination style */

.destination-content {
    margin: 100px auto;
    text-align: center;
}

.destination-content h1 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.destination-content p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}

.images {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -55px;
    gap: 24px;
}

.images .first-row,
.second-row,
.third-row {
    display: flex;
    gap: 24px;
}

.images span {
    position: relative;
}

.first-row>span>p {
    position: absolute;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 800;
    right: 42%;
    top: 36%;
}

/* .first-row:hover {
    opacity: 0.6;
 } */

.second-row>span>p {
    position: absolute;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 800;
    right: 32%;
    top: 36%;
}

.third-row>span>p {
    position: absolute;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 800;
    right: 36%;
    top: 36%;
}

/* choose style */

.choose-content {
    margin: 100px auto;
    text-align: center;
}

.choose-content h1 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.choose-content p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}

.choose-img {
    margin-top: -60px;
}

.choose-img h3,
p {
    margin-left: 20px;
}

img {
    margin-left: 20px;
    margin-top: 20px;
}

.two-box {
    display: flex;
    gap: 25px;

}

.first-box {
    background: rgba(251, 181, 99, 0.05);
    border: 1px solid rgba(251, 181, 99, 0.20);
    border-radius: 16px;
    width: 50%;
}

.second-box {
    background: rgba(41, 206, 246, 0.05);
    border: 1px solid rgba(41, 206, 246, 0.20);
    border-radius: 16px;
    width: 50%;
}

.third-box {
    background: rgba(233, 68, 68, 0.05);
    border: 1px solid rgba(233, 68, 68, 0.20);
    border-radius: 16px;
    margin-top: 25px;
    width: 50%;
    margin-left: 280px;
}

/* video style */

.videopart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 0px;
}

.video-content h1 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 60px;
}

.video-content p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}

.video-content li {
    color: #131318;
    font-size: 1rem;
    font-weight: 500;
}

.video-content {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    width: 40%;
}

.videopart iframe{
    border-radius: 20px;
}